.landing-page-wrapper {
	height: 100vh;
	background-color: #f2f2f2;
	.landing-page-container {
		padding: 5%;
		height: 90%;
	}
}

.company-logo {
	width: 6em;
	height: 2em;
}

.info-icon {
	margin-right: 1em;
	width: 1.8em;
	height: 2em;
}

.profile-icon {
	width: 2.5em;
	height: 2.5em;
}

.back-icon {
	width: 2.5em;
	height: 1.8em;
	margin-right: 1em;
}
.back-button {
	background: none;
	border: none;
	outline: none;
}

.game-type-help {
	display: flex;
	justify-content: space-between;
	align-items: center;
	.back-module-container {
		justify-content: start;
		width: 100%;
		padding-left: .5em;
		.questions-page-module-name {
			font-family: Georgia;
			font-size: 26px;
			color: #050505;
		}
	}
	p {
		font-family: Georgia;
		font-size: 1.2em;
		line-height: 1.2;
		color: #050505;
	}
}

.level-question-detail {
	padding-left: 1.5em;

	.question-number-status {
		margin-left: .2em;
	}

	span {
		font-size: 20px;
		font-family: Arial;
		line-height: 1.2;
		color: #050505;
	}
}

.next-page-button {
	position: fixed;
	bottom: 0;
	height: 2.5em;
	width: 100%;
	background-color: #2fa44b;
	color: white;
	font-size: 1.4em;
	border: none;
	outline: none;
}

@keyframes slide {
	0% {
		left: -30em;
	}
	80% {
		left: 3em;
	}
	100% {
		left: 0em;
	}
}

.ok-button {
	border-radius: 2.5px;
	box-shadow: 0px 1px 10px 0 rgba(10, 33, 60, 0.1);
	background-color: #2fa44b;
	font-weight: bold;
	color: #ffffff;
	font-family: OpenSans;
}

@media (min-width: 1024px) {
	.next-page-button {
		position: relative;
		float: right;
		margin-right: 2em;
		margin-top: 2em;
		width: 11em;
		border-radius: 6px;
	}
}
