.landing-page-wrapper {
	height: 100vh;
	background-color: #f2f2f2;

	.next-button {
		width: 100%;
		height: 2.5em;
		background-color: #62c44f;
		font-size: 1.4em;
		color: white;
	}
	.landing-page-container {
		padding: 5%;
		height: 90%;

		.game-title {
			margin-bottom: 0;
			font-family: Georgia;
			font-size: 1.8em;
			font-weight: bold;
			line-height: 1.2;
			text-align: left;
			color: #082a4e;
		}

		// @keyframes abc {
		// 	0% {
		// 		left: -30em;
		// 	}
		// 	80% {
		// 		left: 3em;
		// 	}
		// 	100% {
		// 		left: 0em;
		// 	}
		// }
		.game-type-card-container {
			// a:first-child {
			// 	position: relative;
			// 	animation: abc 1s;
			// }
			// a:nth-child(2) {
			// 	position: relative;
			// 	animation: abc 1s;
			// 	animation-delay: .2s;
			// }
			// a:nth-child(3) {
			// 	position: relative;
			// 	animation: abc 1s;
			// 	animation-delay: .3s;
			// }
			// a:nth-child(4) {
			// 	position: relative;
			// 	animation: abc 1s;
			// 	animation-delay: .4s;
			// }
			width: 100%;
			height: 87%;
			.levels-link {
				height: 100%;
				display: flex;
				flex-direction: column;
				text-decoration: none;
			}
		}

		.header-icon {
			display: flex;
			justify-content: space-between;
		}
	}

	.top-section {
		display: flex;
		justify-content: space-between;

		.back-ndi-logo {
			height: 5%;
			display: flex;
			align-items: center;
		}
		.info-profile-icon-container {
			display: flex;
			align-items: center;
		}
	}
}

// .answer-container {
// 	button:nth-child(1) {
// 		position: relative;
// 		animation: abc 1s;
// 	}
// 	button:nth-child(2) {
// 		position: relative;
// 		animation: abc 1s;
// 		animation-delay: .2s;
// 	}
// 	button:nth-child(3) {
// 		position: relative;
// 		animation: abc 1s;
// 		animation-delay: .3s;
// 	}
// 	button:nth-child(4) {
// 		position: relative;
// 		animation: abc 1s;
// 		animation-delay: .4s;
// 	}
// }

.company-logo {
	width: 7em;
	height: 2.4em;
}

.info-icon {
	margin-right: 1em;
	width: 1.8em;
	height: 2em;
}

.profile-icon {
	width: 3em;
	height: 3em;
}

.back-icon {
	width: 2.5em;
	height: 1.8em;
	margin-right: 1em;
}
.back-button {
	background: none;
	border: none;
	outline: none;
}

.game-type-help {
	display: flex;
	justify-content: space-between;
	align-items: center;
	.back-module-container {
		display: flex;
		align-items: center;
	}
	p {
		font-family: Georgia;
		font-size: 1.2em;
		line-height: 1.2;
		color: #050505;
	}
}

.level-question-detail {
	padding-left: 1.5em;

	.question-number-status {
		margin-left: .2em;
	}

	span {
		font-size: 20px;
		font-family: Arial;
		line-height: 1.2;
		color: #050505;
	}
}

.next-page-button-false {
	pointer-events: none;
}

.question {
	width: 100%;
	height: 8em;
	background-color: #253f8e;
	p {
		padding: 1.6em;
		font-family: Georgia;
		font-size: 1.8em;
		font-weight: bold;
		text-align: left;
		color: #f2f2f2;
	}
}

.progress-bar {
	margin: .5em 0;
	background-color: grey;
	height: .2em;
	width: 20%;
}

.help-label {
	position: absolute;
	right: 1.5em;
}

.select-label {
	padding-left: 1.5em;
}

.question-container {
	padding-bottom: 1em;
	background-color: #f3f3f3;
}

.next-page-button {
	position: fixed;
	bottom: 0;
	height: 2.5em;
	width: 100%;
	background-color: #12c34d;
	color: white;
	font-size: 1.4em;
}

.result-page-container {
	text-align: center;
	font-size: 1.4em;
}
