.question-main-container {
	padding-bottom: 1em;
	background-color: #f3f3f3;
}

.answer-container {
	button {
		position: relative;
		animation: slide 1s;
	}
}

.next-page-button-false {
	pointer-events: none;
}

.questions-container {
	width: 100%;
	overflow: scroll;

	background-color: #253f8e;
	.question-label {
		padding: 1em;
		font-family: Georgia;
		font-size: 22px;
		font-weight: bold;
		color: #f2f2f2;
	}
}

.select-label {
	padding-left: 0.5em;
	font-family: Georgia;
	font-size: 22px;
	color: #3e3d4a;
}

.progress-bar-container {
	margin-top: .4em;
}

@media (min-width: 1024px) {
	.question-main-container {
		margin: 0 15em;
		.questions-container {
			overflow: hidden;

			.question-label {
				font-size: 40px;
			}
		}
		.answer-container {
			.options-card-container {
				display: flex;
				flex-wrap: wrap;
				// ::-webkit-scrollbar {
				// 	width: 0.2em;
				// 	height: .0.1em;
				// }
				// ::-webkit-scrollbar-thumb {
				// 	// background: #6c70a1;
				// 	background: green;
				// 	height: .1em;
				// }
			}
		}
	}
}
