@media (min-width: 1024px) {
	.landing-page-wrapper {
		.landing-page-container {
			.game-type-card-container {
				display: flex;
				flex-wrap: wrap;
				justify-content: flex-start;
				padding: 0 3%;
				width: auto;
			}
		}
	}
}
