.question-main-container {
	padding-bottom: 1em;
}

.answer-container {
	button {
		position: relative;
		animation: slide 1s;
	}
}

.next-page-button-false {
	pointer-events: none;
}

.questions-container {
	width: 100%;
	overflow: scroll;
	margin-top: .5em;
	background-color: #f3f3f3;
	.question-label-orange {
		background-color: #f0713d;
		padding: 1em;
		font-family: Georgia;
		font-size: 22px;
		font-weight: bold;
		color: #f2f2f2;
	}
}

.select-label {
	padding-left: 1em;
	font-family: Georgia;
	font-size: 22px;
	color: #3e3d4a;
}

.progress-bar-container {
	margin-top: .4em;
}
