.bg-blue {
    background: rgba(0, 93, 171, 0.75);
}

.bg-green {
    background: rgba(52, 155, 5, 0.75);
}

.bg-peach {
    background: rgb(243, 128, 81, 0.75);
}

.card {
    height: 100%;
}

.level-card {
    width: 100%;
    font-size: 1.5em;
    border: none;
    flex: 1;
}

.level-card > a:hover {
    color: #FFF;
}

.level-card > .card-text {
    position: absolute;
    width: 100%;
    height: 100%;
    color: #fff;
}

.level1 {
    background: url(../../img/level1.png) no-repeat center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.level2 {
    background: url(../../img/level2.png) no-repeat center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.level3 {
    background: url(../../img/level3.png) no-repeat center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.module-card {
    font-size: 1.5em;
    background: #F38051;
    margin-bottom: 20px;
    box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, .2);
}

.module-card > a {
    padding: 2em 0;
}

.module-card > a > .card-text {
    color: #fff;
}