.card {
    position: relative;
}

.card > a:hover {
    color: #FFF;
}

.card-text {
    position: absolute;
    width: 100%;
    bottom: 1em;
    color: #FFF;
    background: rgba(73, 151, 208, 0.75);
}

.card-text > p {
    margin: 0;
}