.card-button {
	font-family: OpenSans;
	font-size: 20px;
	color: #ffffff;
	background-color: #7166bc;
	height: 12em;
	width: 100%;
	margin: .2em 0;
	cursor: pointer;
	border: none;
	outline: none;
	padding: 6%;
}

.card-button-true {
	pointer-events: none;
}

.green {
	background-color: #2fa44b;
}

.color-change-true {
	background-color: #12008f;
}
