.card-button {
	font-family: OpenSans;
	font-size: 20px;
	color: #ffffff;
	background-color: #7166bc;
	height: 12em;
	margin: .2em 0;
	cursor: pointer;
	border: none;
	outline: none;
	text-align: left;
	padding: 6%;
	margin: 0.2em 1em;
	width: 85%;
}

.card-button-true {
	pointer-events: none;
}

.card-button-blue {
	background-color: #0968b8;
	opacity: .7;
}
.card-button-green {
	opacity: .7;
	background-color: #2fa44b;
}
.card-button-orange {
	opacity: .7;
	background-color: #f0713d;
}

.color-change-blue-true {
	opacity: 1;
}
.color-change-green-true {
	opacity: 1;
}
.color-change-orange-true {
	opacity: 1;
}

@media (min-width: 1024px) {
	.card-button {
		width: 48%;
		border-radius: 15px;
		margin: .3em;
		padding: 5%;
	}
}
