.card-button {
	background-color: #7166bc;
	color: white;
	height: 12em;
	width: 100%;
	margin: .2em 0;
	cursor: pointer;
	border: none;
	outline: none;
	font-family: Georgia;
	font-weight: bold;
	padding: 6%;
	font-size: 19px;
	color: #f2f2f2;
}

.card-button-true {
	pointer-events: none;
}

.green {
	background-color: #2fa44b;
}

.color-change-true {
	background-color: #12008f;
}
