@font-face {
  font-family: "Roboto-Black";
  font-style: normal;
  font-weight: normal;
  src: url("/fonts/Roboto/Roboto-Black.woff") format("woff");
}

@font-face {
  font-family: "Roboto-Light";
  font-style: normal;
  font-weight: normal;
  src: url("/fonts/Roboto/Roboto-Light.woff") format("woff");
}

@font-face {
  font-family: "Roboto-Bold";
  font-style: normal;
  font-weight: bold;
  src: url("/fonts/Roboto/Roboto-Bold.woff") format("woff");
}

@font-face {
  font-family: "Roboto-Medium";
  font-style: normal;
  font-weight: normal;
  src: url("/fonts/Roboto/Roboto-Medium.woff") format("woff");
}

@font-face {
  font-family: "Roboto-Regular";
  font-style: normal;
  font-weight: normal;
  src: url("/fonts/Roboto/Roboto-Regular.woff") format("woff");
}

@font-face {
  font-family: "Roboto-Thin";
  font-style: normal;
  font-weight: normal;
  src: url("/fonts/Roboto/Roboto-Thin.woff") format("woff");
}
