$Avenir-Medium: AvenirLTStd-Medium;
$fixed-width-modal: 405px;
$border-normal: 1px;
$base-padding: 10px;
$padding-medium: 20px;
$black: #000000;
$font-size-larger: 18px;
$font-weight-modal: 500;
$light-grey: #597d95;
$font-size-extra-large: 24px;
$font-size-small: 13px;
$dialog-message-color: #808080;
$font-size-large: 16px;
$padding-modal-data: 70px;

$margin: 15px;
$color-dark: #474747;
$padding: 15px;
$dialog-dark-button: #676666;
$dialog-dark-button-text-color: #ffffff;

$dialog-btn-width: 100px;
$base-margin: 15px;
$Simplo-Demi: AvenirLTStd-Heavy;
$clear: #86a9c1;

$white: #ffffff;
$purple: #4e2d7f;
$green: #40cc76;
$orange: #fa750a;
$red: #ff5057;
$full-width: 100%;
