.back-module-container {
	display: flex;
	align-items: center;
}

.answer {
	font-family: Georgia;
	font-size: 24px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.2;
	letter-spacing: normal;
	text-align: left;
	color: #3e3d4a;
	margin-left: 1em;
}

.result-next-page-button {
	position: relative;
}

@media (min-width: 1024px) {
	.questions-container {
		.next-page-button {
			height: 2.5em;
			width: 100%;
			background-color: #2fa44b;
			color: white;
			font-size: 1.4em;
			border: none;
			margin: 0;
			outline: none;
		}
	}
	.question-main-container {
		.correct-ans-info-container {
			margin: 0 14em;
			.card-button {
				width: 100%;
				height: 8em;
			}
			.next-page-button {
				margin-right: 0;
			}
		}
	}
}
