.back-module-container {
	display: flex;
	align-items: center;
}

.answer {
	font-family: Georgia;
	font-size: 24px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.2;
	letter-spacing: normal;
	text-align: left;
	color: #3e3d4a;
	margin-left: 1em;
}

.result-next-page-button {
	position: sticky;
}
