.input-group {
    width: 80%;
    margin: 0 auto;
}

.input-group > input:focus {
    background-color: #349B52;
    color: #fff;
}

.input-group-append > a > .btn {
    background-color: #005DAB;
    color: #fff;
}

.input-group-append > a > .btn:hover {
    color: #F38051;
}

/* .login-box {
    background: linear-gradient(rgba(243, 128, 81, 0.75), rgba(243, 128, 81, 0.75)), url("../../img/g4g.png") no-repeat center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
} */

.home-page {
    background-color: #124C89;
    background-image: -webkit-repeating-linear-gradient(-35deg,rgba(255,255,255,0),rgba(255,255,255,0) 3px,rgba(255,255,255,0.05) 3px,rgba(255,255,255,0.05) 4px);
    height: 100%;
    color: #fff;
}

.login-box {
    max-width: 425px;
    margin: 0 auto;
    top: 50%;
}

.material-icons.my-3 {
    color: #005DAB;
    font-size: 100px;
}

.ndi-logo {
    width: 200px;
}