.link-lock-true {
	pointer-events: none;
}
.card-lock-false {
	// background-color: #7166bc;
	opacity: 1;
}

.card-lock-true {
	// background-color: #253f8e;
	opacity: .6;
}

.level-card-blue {
	background-color: #0968b8;
}
.level-card-green {
	background-color: #2fa44b;
}
.level-card-orange {
	background-color: #f0713d;
}
.level-card {
	height: 30%;
	width: 100%;
	margin: .5em 0;
	cursor: pointer;
	.level-score {
		font-size: 1.6em;
		font-family: Georgia;
		line-height: 1.2;
		color: #ffffff;
	}

	.level-label-score {
		display: flex;
		align-items: center;
		justify-content: space-around;
		height: 3em;

		.level-label {
			font-size: 2em;
			font-family: OpenSans;
			font-weight: bold;
			color: #ffffff;
		}
	}

	.level-description {
		opacity: 0.8;
		font-family: OpenSans;
		font-size: 1.5em;
		color: #ffffff;
		text-align: left;
		padding-left: 2em;
	}

	.level-unlock-rule {
		font-family: Arial;
		font-size: 1.5em;
		color: #ffffff;
		text-align: left;
		padding-left: 2em;
	}

	.lock-icon-container {
		display: flex;
		justify-content: flex-end;
		margin-top: .8em;
		.lock-icon {
			width: 1.4em;
			height: 1.8em;
			object-fit: contain;
		}
	}
}

@media (min-width: 1024px) {
	.link-lock {
		width: 30%;
		height: 19em;
		margin: .5em .5em;
		.level-card {
			height: 100%;
			border-radius: 15px;
		}
	}
}
