.link-lock-true {
	pointer-events: none;
}
.card-lock-true {
	background-color: #7166bc;
}

.card-lock-false {
	background-color: #253f8e;
}

.level-card {
	height: 30%;
	width: 100%;
	margin: .5em 0;
	cursor: pointer;
	.level-score {
		font-size: 1.6em;
		font-family: Georgia;
		line-height: 1.2;
		color: #ffffff;
	}

	.level-label-score {
		display: flex;
		align-items: center;
		justify-content: space-around;
		height: 3em;

		.level-label {
			font-size: 2em;
			font-family: OpenSans;
			font-weight: bold;
			color: #ffffff;
		}
	}

	.level-description {
		opacity: 0.8;
		font-family: OpenSans;
		font-size: 1.5em;
		color: #ffffff;
	}

	.level-unlock-rule {
		font-family: Arial;
		font-size: 1.5em;
		color: #ffffff;
	}

	.lock-icon-container {
		display: flex;
		justify-content: flex-end;
		.lock-icon {
			width: 1.4em;
			height: 1.8em;
			object-fit: contain;
		}
	}
}
