nav {
    background-color:rgba(73, 151, 208, 0.95);
    font-size: 1.25rem;
    font-family: 'Josefin Sans', sans-serif;
}

img {
    height: 50px;
    width: 50px;
    margin: 0;
    padding: 0;
}

a:hover {
    color: white;
}

.nav-link {
    color: #cccccc;
}

.navbar-brand {
    color: white;
    padding: 0;
}

/* clear bootstrap default navbar button border and outline */
.navbar-toggler {
    padding: 0;
    border: 0;
}

.navbar-toggler:focus {
    outline: none;
}

/* nav icon animation */
.nav-icon {
    top: 8px;
    width: 40px;
    height: 40px;
    position: relative;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
}

.nav-icon span {
    display: block;
    position: absolute;
    height: 5px;
    width: 100%;
    background: white;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}

.nav-icon span:nth-child(1) {
    top: 0px;
}

.nav-icon span:nth-child(2), .nav-icon span:nth-child(3) {
    top: 10px;
}

.nav-icon span:nth-child(4) {
    top: 20px;
}

.nav-icon.open span:nth-child(1) {
    top: 10px;
    width: 0%;
    left: 50%;
}

.nav-icon.open span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

.nav-icon.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.nav-icon.open span:nth-child(4) {
    top: 18px;
    width: 0%;
    left: 50%;
}