.show-right-answer-button {
	width: 100%;
	height: 3em;
	margin-top: 1em;
	background-color: #2fa44b;
	color: #ffffff;
	font-family: OpenSans;
	font-size: 18px;
	font-weight: 600;
	color: #ffffff;
}

.dialog-content {
	text-align: center;

	.greet-message {
		span {
			font-family: Georgia !important;
			font-size: 22px !important;
			line-height: 1.2 !important;
			color: #2fa44b !important;
		}
	}
	.answer-status-message {
		span {
			font-family: Georgia !important;
			font-size: 22px !important;
			line-height: 1.2 !important;
			color: #000000 !important;
		}
	}
	.points-status {
		span {
			font-family: OpenSans !important;
			font-size: 20px !important;
			font-weight: 600 !important;
			line-height: 1.2 !important;
			color: #3d484e !important;
		}
		.correct-points {
			color: #12008f !important;
		}
		.wrong-points {
			color: #ed1c24 !important;
		}
	}

	.success-message {
		font-family: Georgia;
		font-size: 30px;
		color: #00a651;
		margin: 0;
	}
	.message {
		font-family: Georgia;
		font-size: 20px;
		color: #3e3d4a;
		margin: 0;
	}
	.points-alert {
		font-family: Georgia;
		font-size: 20px;
		color: #3e3d4a;
		margin: 0;
	}
}

.answer-status-logo {
	width: 100px;
	height: 100px;
	object-fit: contain;
}
