.answer-selected {
    color: #fff;
    background-color: #F38051;
}

.question-selected {
    color: #fff;
    background-color: #005DAB;
}

.correct {
    color: #fff;
    background-color: #349B52;
}