.bg-level1 {
    background: linear-gradient(rgba(0, 93, 171, 0.75), rgba(0, 93, 171, 0.75)), url("../../img/level1.png") no-repeat center;
    color: #fff;
    background-size: cover;
    min-height: 130px;
}

.bg-level1 > div > .btn {
    background-color: #349B52;
    color: white;
}

.bg-level1 > div > .btn:hover {
    color: #F38051;
}

.bg-level2 {
    background-image: url("../../img/level2.png");
}

.bg-level3 {
    background-image: url("../../img/level3.png");
}

.level-top, .level-top > .col {
    margin: 0;
    padding: 0;
}

@media screen and (min-width: 1023px) {
    .level-top {
        padding: 0 8em;
    }
}