@import "../../sass/variables";
@import "../../sass/mixins";

.message-dialog-message {
  .modal-content {
    width: 400px;
  }
}
.message-dialog-data {
  .modal-content {
    width: $fixed-width-modal;
  }
}

.message-dialog {
  .modal-dialog {
    @include flexbox();
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: $font-family-bold;
    .error {
      border: 1px solid red;
    }
    .modal-content {
      @include flexbox();
      background-color: #fcfcfc;
      flex-direction: column;
      justify-content: center;
      font-family: $font-family-bold;
      border-radius: $border-normal * 4;
      color: #707070;
      @include box-shadow(0 0 20px 0 rgba(0, 0, 0, 0.16));
      .dialog-header {
        @include box-shadow(0px 0px 20px 0px #eff3f5);
        @include flexbox();
        font-size: $font-size-larger;
        font-weight: bold;
        background-color: white;
        div {
          display: inline-block;
        }
      }
      .dialog-body {
        text-align: center;
        .item-title {
          font-family: $font-family-regular;
          width: 40%;
          display: inline-block;
          text-align: left;
          padding-left: 15px;
          vertical-align: top;
          font-size: 16px;
          font-weight: normal;
        }
        .item-separator {
          margin: 0px 30px 0px 15px;
          display: inline-block;
          vertical-align: top;
        }
        input,
        textarea {
          font-size: 16px;
          font-weight: bold;
          color: #707070;
          font-family: $font-family-regular;
        }
        .item-value {
          display: inline-block;
          text-align: left;
          font-size: 16px;
          font-weight: bold;
          max-width: 250px;
        }
        .option-title {
          text-align: right;
          font-weight: bold;
        }
        .dialog-title {
          color: $black;
          font-size: $font-size-larger;
          font-weight: $font-weight-modal;
          line-height: 2;
          font-weight: bold;
        }
        .dialog-content {
          padding: $padding / 3;
          .dialog-multiline-text {
            resize: none;
          }
        }
        .dialog-options {
          background-color: white;
          @include box-shadow(0px 0px 15px 0px rgba(0, 0, 0, 0.07));
          margin: 15px 0px 30px 0px;
        }
        .option-value {
          margin: 5px 0px;
        }
        .choices {
          margin-left: 15px;
          display: inline-block;
          div {
            display: inline-block;
            padding: 5px 10px;
            margin: 5px;
            border-radius: 5px;
            color: white;
          }
          .unselected {
            background-color: #f2f2f2;
            color: #d3d3d3;
          }
          .selected {
            background-color: #0d9eea;
            color: #ffffff;
            @include box-shadow(0 3px 6px 0 rgba(13, 158, 234, 0.5));
          }
        }
        .remove-message {
          color: #707070;
          font-size: 16px;
          font-weight: bold;
          margin: 30px 15px 0px 15px;
          border-top: 1px solid rgba(13, 138, 202, 0.5);
          padding: 15px;
          display: inline-block;
        }
        .dialog-message {
          color: #707070;
          font-size: 16px;
          padding: $padding-medium;
          padding-top: 0;
          max-width: 400px;
          max-height: 400px;
          overflow: auto;
          font-weight: bold;
        }
        .dialog-note {
          padding: $base-padding * 1.8;
          padding-top: 0;
          color: $black;
          font-size: $font-size-small;
        }
        .modal-flex {
          @include flexbox();
          flex-direction: row;
          justify-content: space-between;
          align-items: left;
        }
        .modal-column-flex {
          @include flexbox();
          flex-direction: column;
          justify-content: space-between;
        }
        .modal-data-key {
          color: $dialog-message-color;
          font-size: $font-size-large;
          padding-left: $padding-modal-data;
        }
        .modal-data-colon {
          color: $dialog-message-color;
          font-size: $font-size-large;
          padding-left: $margin;
        }
        .modal-data-description {
          text-align: left;
          color: $color-dark;
          font-size: $font-size-large;
          font-weight: bold;
          padding-bottom: $padding;
          font-weight: bold;
        }
      }
      .dialog-footer {
        border: none;
        @include flexbox();
        width: $full-width;
        justify-content: center;
        padding-top: 0;
        .dialog-btn {
          color: $dialog-dark-button-text-color;
          border-radius: $border-normal * 2;
          padding: $padding/3 $padding;
          margin-left: $base-margin;
          margin-right: $base-margin;
          font-size: 16px;
          font-weight: bold;
          &.cancel {
            background-color: $clear;
            color: $white;
            border-color: $clear;
          }
          &.cancel:hover {
            background-color: #638499;
            border-color: #638499;
          }
          &.confirm {
            background-color: #0d9eea;
            border-color: #0d9eea;
          }
          :disabled {
            color: #b5cee0;
          }
        }
        .dialog-btn:disabled {
          color: #b5cee0;
        }
      }
    }
  }
}
