@import "../../sass/variables";
@import "../../sass/mixins";

.message-dialog {
  .modal-dialog {
    @include flexbox();
    @include box-shadow(2px);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: $Avenir-Medium;
    .error {
      border-color: red;
    }
    .modal-content {
      @include flexbox();
      background-color: lightgrey;
      flex-direction: column;
      justify-content: center;
      min-width: $fixed-width-modal;
      border-radius: $border-normal * 4;
      .dialog-header {
        @include box-shadow(2px);
        @include flexbox();
        color: $black;
        font-size: $font-size-larger;
        font-weight: bold;
        background-color: white;
        div {
          display: inline;
        }
      }
      .dialog-body {
        text-align: center;
        .item-title {
          display: inline;
          text-align: left;
        }
        .item-separator {
          margin: 5px;
          display: inline;
        }
        .item-value {
          display: inline;
          text-align: left;
        }
        .dialog-title {
          color: $black;
          font-size: $font-size-larger;
          font-weight: $font-weight-modal;
          line-height: 2;
          font-weight: bold;
        }
        .dialog-content {
          padding: $padding;
          .dialog-multiline-text {
            resize: none;
          }
        }
        .dialog-options {
          background-color: white;
          @include box-shadow(2px);
        }
        .choices {
          display: inline;
          div {
            display: inline;
            padding: 10px;

            margin: 5px;
            color: white;
          }
          .unselected {
            background-color: grey;
          }
          .selected {
            background-color: blue;
          }
        }
        .dialog-message {
          color: $light-grey;
          font-size: $font-size-extra-large;
          padding: $padding-medium;
          padding-top: 0;
          max-width: 1000px;
          max-height: 400px;
          overflow: auto;
        }
        .dialog-note {
          padding: $base-padding * 1.8;
          padding-top: 0;
          color: $black;
          font-size: $font-size-small;
        }
        .modal-flex {
          @include flexbox();
          flex-direction: row;
          justify-content: space-between;
          align-items: left;
        }
        .modal-column-flex {
          @include flexbox();
          flex-direction: column;
          justify-content: space-between;
        }
        .modal-data-key {
          color: $dialog-message-color;
          font-size: $font-size-large;
          padding-left: $padding-modal-data;
        }
        .modal-data-colon {
          color: $dialog-message-color;
          font-size: $font-size-large;
          padding-left: $margin;
        }
        .modal-data-description {
          text-align: left;
          color: $color-dark;
          font-size: $font-size-large;
          font-weight: bold;
          padding-bottom: $padding;
          font-weight: bold;
        }
      }
      .dialog-footer {
        border: none;
        @include flexbox();
        width: $full-width;
        justify-content: center;
        padding-top: 0;
        .dialog-btn {
          background: $dialog-dark-button;
          color: $dialog-dark-button-text-color;
          border-radius: $border-normal * 2;
          padding: $padding;
          min-width: $dialog-btn-width;
          margin-left: $base-margin;
          margin-right: $base-margin;
          font-family: $Simplo-Demi;
          &.cancel {
            background-color: $clear;
            color: $white;
          }
          &.confirm {
            background-color: $green;
            color: $white;
          }
          &.primary {
            background-color: $purple;
            color: $white;
          }
          &.success {
            background-color: $green;
            color: $white;
          }
          &.warning {
            background-color: $red;
            color: $white;
          }
        }
      }
    }
  }
}
