.result-page-container {
	text-align: center;
	font-size: 1.4em;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	p {
		font-family: Georgia;
		color: #000000;
		margin-bottom: 1.5em;
	}

	.retry-level {
		bottom: 0;
		left: 0;
		height: 2.5em;
		width: 100%;
		background-color: #12c34d;
		color: white;
		font-size: 1.4em;
		border: none;
		outline: none;
	}
	.congratulation-message-container {
		background-color: #f3f6f9;
		padding: 1em;
		p {
			font-family: Georgia;
			color: #000000;
		}
		.congratulations-label {
			margin: 20px 0 0 0;
		}
		.level-finish-label {
			margin: 0;
		}
	}

	.back-to-all-levels-link {
		color: #000000;
		font-weight: bold;
	}
	.retry-levels-link {
		margin-top: 1em;

		color: #000000;
		font-weight: bold;
	}
	.result-back-module-container {
		justify-content: center;
		width: 100%;
		background-color: #f3f6f9;
	}
	.graph-icon {
		width: 3em;
		height: 3em;
		margin: 0 auto;
	}
}

@media (min-width: 1024px) {
	.result-page-container {
		// margin: 0 15em;
		font-size: 1em;
		justify-content: flex-start;
		.retry-level {
			margin-top: 1em;
			top: 2em;
			width: 15%;
			height: 2.2em;
			border-radius: 8px;
		}
	}
}

@media screen and (device-aspect-ratio: 40/71) {
	.result-page-container {
		font-size: 1.2em;
	}
	.retry-levels-link {
		.retry-level {
			height: 2em;
		}
	}
}
