nav > a {
    color: #005DAB;
}

nav > a:hover {
    color: #F38051;
}

.navbar > img {
    max-height: 30px;
}

.navbar > a > .material-icons {
    font-size: 2em;
    line-height: 2em;
}

@media screen and (min-width: 1023px) {
    .navbar {
        padding: 0 8em;
    }
}